*{
    padding: 0%;
    margin: 0%;
}
.Container{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
p{
    width: 50%;
    text-align: justify;
}
/* 
 
max-width:600px;
min-width:1000px;

*/
/* Media Quries */

@media screen and (max-width:700px){
    .Container{
        flex-direction: column;
    }
    .Container h1{
        color: black;
        background-color: yellowgreen;
        padding: 15px;
    }
}
