/* *{
  padding: 0%;
  margin: 0%;  
} */
body{
    height: 200vh;
    width: 100%;
    background-image: url('/Bg.jpg');
    background-repeat:no-repeat;
    background-position: center;
    background-size: cover;
}
.Title{
    color: yellowgreen;
    background-color: black;
    width: fit-content;
}
ul{
    background-color: antiquewhite;
    width: fit-content;
}
.ListOne{
    color: red;
}
#ListTwo{
    color: indigo;
}
.Box-1{
    height: 100px;
    width: 100px;
    background-color: red;
    position: sticky;
    top: 10px;
}
.Box-2{
    height: 100px;
    width: 100px;
    background-color: green;
}